
@media screen and (max-width: 1366px) {
  .suspend{
		right: -42px !important;
	}
}
.myHeader {
  .sitting{
    height: 92px;
  }
  .header-content{
		background-image: linear-gradient(to right,$gradientS,$gradientE);
    -webkit-user-select:none;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
		@include defaultShadow;


    .content{
      .menus {
		  .logo {
				position:fixed;
				z-index: 99;
		    cursor: pointer;
		    img {
		      width: 180px;
		    }
		  }
			.placeholder{
				width:180px;
			}
		  .menusInner{
			  @include ct1200;
			  @include fj(flex-start);
			  position: relative;
				.userInfo{
					@include mt(2px);
					cursor: pointer;
				}
				.suspend{
					position: fixed;  
					right: 50%;
					transform: translateX(600px);
					z-index: 99;
				}
			  .loginBtn{
						height: 92px;
						line-height: 44px;
						padding: 0px 20px;
						background: #fff;
						text-align: center;
						cursor: pointer;
						color: $gradientE;
						font-weight: 700;
			       
			      }
		  }
        
      }
	  .secondRow{
		  background: #fff;
		  height: 52px;
		  .placehold{
			  width: 180px
		  }
		  .ulEle {
		    list-style:none;
		    cursor: pointer;
		    @include fj();
			font-weight: 700;
			cursor: pointer;
			
			.liEle {
			  list-style:none;
				min-width: 120px;
				text-align: center;
			  // padding: 0 26px;
			  height: 52px;
			  line-height: 52px;
			  span{
				transition: color 0.6s ease-out;
			  }
			}
			.liEle:hover{
				  span{
					color: $gradientE;
				  }
				}
			}
		  
	  }
	  .firstRow{
		  height: 40px;
			position: relative;
		  .ulEle {
			  height: 40px;
		    list-style:none;
		    
		    @include fj();
		    @include sc(16px,#fff);
			font-weight: 700;
			.ulWrap{
				// width: 524px;
				@include fj();
			}
			.ulWrapL{
				justify-content: flex-end;
			}
			// .ulWrapR{
			// 	justify-content: start;
			// }
		    .liEle {
					min-width: 120px;
					text-align: center;
					box-sizing: border-box;
		      list-style:none;
		      // padding: 0 26px;
		      height: 40px;
		      line-height: 40px;
		      position: relative;
					cursor: pointer;
		      span{
				position: relative;
				z-index: 1;
		        transition: color 0.6s ease-out;
		      }
		    }
		    .active{
		      span{
		        color: $gradientE;
		      }
		    }
		    .liEle:before {
		      content: "";
		      position: absolute;
		      z-index: 0;
		      left:50%;
			  right: 50%;
		      height: 100%;
		      background: #fff;
		      transition-property: left,right;
		      transition-duration: .3s;
		      transition-timing-function: ease-out;
		    }
		    .active:before {
		      left:0;
		      right:0;
		    }
		    .priming {
		      position: absolute;
		      overflow: hidden;
		      top: 40px;
					background-color: rgba(100, 91, 255, 0.8);
		      // background-image: linear-gradient(to right,$gradientS,$gradientE);
					@include wh(434px,52px);
		      z-index: 10;
		      .subMenus {
		        @include sc(15px,#fff);
		        position: absolute;
		        line-height: 50px;
		        top: 0px;
		        height: 50px;
		        z-index: 99;
		        transition: all 0.2s ease-out;
						cursor: pointer;
		        @include fj(flex-start);
		        .subItem {
		          padding: 0 20px;
		          &:hover{
		            color: #fff;
		          }
		        }
		      }
		    }
		  }
	  }
    }
  }
  
  
}
.myFoot {
		background: $footBg;
		color: #fff;
		padding: 30px 0;
		.lastInfo{
			@include ct1200;
			.websitInfo{
				@include sc(14px,#a5a5a5);
				line-height:30px;
				text-align:center;
			}
			.hr{
				margin:20px 0;
				background:#484848;
				width: 100%;
				height:1px;
			}
		}
		.footWrap {
			@include ct1200;
			@include fj();
			align-item:center;
			.footR{
				@include fj();
				.codeItem{
					text-align:center;
					@include ml(30px);
					.codeProfile{
						@include sc(14px,#A5A5A5);
						@include mt(10px);
					}
				}
			}
			.row1 {
				font-size: 30px;
				font-weight: 700;
				@include mb(20px);
				cursor:pointer;
				transition: 0.6s ease;
				&:hover{
					color:$gradientE;
				}
			}

			.row2 {
				@include mb(20px);
				line-height: 40px;
				.row2first{
					font-size: 30px;
					font-weight: 700;
				}
				.row2scend{
					font-size: 20px;
					font-weight: 700;
				}
			}

			.row3 {
				@include wh(346px, 58px);
				background: #fff;
				border-radius: 46rpx;
				color: #333;
				line-height: 58px;
				text-align: center;
				font-size: 28px;
				font-weight: 700;
				cursor: pointer;
			}
			.row4{
				@include fj();
				@include mt(40px);
				.row4L{
					width: 600px;
					@include fj();
					font-size: 14px;
					color: #A5A5A5;
					.item{
						cursor:pointer;
						transition: 0.6s ease;
						&:hover{
							color:$gradientE;
						}
					}
				}
			}
		}
	}