
@media screen and (max-width: 1366px) {
  .suspend{
		right: -42px !important;
	}
}
.myHeader {
  .sitting{
    height: 92px;
  }
  .header-content{
	  @include bis('../image/navigateBg.png');
    // background: #fff;
    -webkit-user-select:none;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
		@include defaultShadow;


    .content{
      .menus {
		  .logo {
		    cursor: pointer;
		    img {
		      width: 300px;
		    }
		  }
		  .menusInner{
			  @include ct1200;
			  @include fj(center);
			  position: relative;
				.userInfo{
					@include mt(2px);
					cursor: pointer;
				}
				.suspend{
					position: absolute;  
					right: -82px;
				}
			  .loginBtn{
			   
									@include mt(5px);
									height: 30px;
									line-height: 30px;
			            padding: 0px 20px;
			            background: #000;
			            border-radius: 50px;
			            transition: background 200ms ease-in;
			            cursor: pointer;
			            color: #fff;
			            font-weight: 500;
									// @include defaultShadow;
			        &:hover{
			          background: $themeColor;
			        }
			      }
		  }
        
      }
	  .secondRow{
		  background: #fff;
		  height: 52px;
		  .placehold{
			  width: 360px
		  }
		  .ulEle {
		    list-style:none;
		    cursor: pointer;
		    @include fj();
			font-weight: 700;
			cursor: pointer;
			
			.liEle {
			  list-style:none;
			  padding: 0 18px;
			  height: 52px;
			  line-height: 52px;
			  span{
				transition: color 0.6s ease-out;
			  }
			}
			.liEle:hover{
				  span{
					color: $themeColor;
				  }
				}
			}
		  
	  }
	  .firstRow{
		  height: 40px;
		  .ulEle {
			  height: 40px;
		    list-style:none;
		    
		    @include fj();
		    @include sc(16px,#fff);
			font-weight: 700;
			.ulWrap{
				width: 524px;
				@include fj();
			}
			.ulWrapL{
				justify-content: flex-end;
			}
			.ulWrapR{
				justify-content: start;
			}
		    .liEle {
		      list-style:none;
		      padding: 0 20px;
		      height: 40px;
		      line-height: 40px;
		      position: relative;
					cursor: pointer;
		      span{
				position: relative;
				z-index: 1;
		        transition: color 0.6s ease-out;
		      }
		    }
		    .active{
		      span{
		        color: #fff;
		      }
		    }
		    .liEle:before {
		      content: "";
		      position: absolute;
		      z-index: 0;
		      left:50%;
			  right: 50%;
		      height: 100%;
		      background: $themeColor;
		      transition-property: left,right;
		      transition-duration: .3s;
		      transition-timing-function: ease-out;
		    }
		    .active:before {
		      left:0;
		      right:0;
		    }
		    .priming {
		      position: fixed;
		      overflow: hidden;
		      top: 40px;
		      background: $themeColor;
			  // width: 434px;
					@include wh(434px,50px);
		      z-index: 10;
		      .subMenus {
		        @include sc(15px,#fff);
		        position: absolute;
		        line-height: 50px;
		        top: 0px;
		        height: 50px;
		        z-index: 99;
		        transition: all 0.2s ease-out;
						cursor: pointer;
		        @include fj(flex-start);
		        .subItem {
		          padding: 0 20px;
		          &:hover{
		            color: #aaaa7f;
		          }
		        }
		      }
		    }
		  }
	  }
    }
  }
  
  
}
.myFoot {
		background: $footBg;
		color: #fff;
		padding: 30px 0;

		.footWrap {
			@include ct1200;

			.row1 {
				font-size: 30px;
				font-weight: 700;
				@include mb(20px);
				cursor:pointer;
				transition: 0.6s ease;
				&:hover{
					color:$themeColor;
				}
			}

			.row2 {
				@include mb(20px);
			}

			.row3 {
				@include wh(346px, 58px) background: #fff;
				border-radius: 46rpx;
				color: #333;
				line-height: 58px;
				text-align: center;
				font-size: 28px;
				font-weight: 700;
				cursor: pointer;
			}
			.row4{
				@include fj();
				@include mt(40px);
				.row4L{
					width: 600px;
					@include fj();
					font-size: 24px;
					.item{
						cursor:pointer;
						transition: 0.6s ease;
						&:hover{
							color:$themeColor;
						}
					}
				}
			}
		}
	}